.people-block {
    padding: 64px 0 34px 0;
}
.people-block h4 {
    text-transform: uppercase;
    margin: 14px 0 12px 0;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 29px;
    font-weight: 400;
}
.people-block p {
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 66px 0;
}
