.addPost {
    border: 1px solid palevioletred;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.labels label {
    font-size: 20px;
    font-weight: bold;
}

.labels input,  textarea {
    padding: 15px 5px;
    margin: 5px;
    width: 90%;
}

.labels textarea {
    resize: none;
}