.connect-block {
    padding: 42px 0 55px;
}
.connect-block h4 {
    text-transform: uppercase;
    margin: 29px 0 12px 0;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 29px;
    font-weight: 400;
}
.connect-block p {
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 6px;
}

.connect-form form {
    max-width: 570px;
    margin: 0 auto;
}

.form-inner {
    color: #76b2be;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 30px 0;
}
.form-inner input {
    padding: 13px 10px 15px 17px;
}
@media screen and (min-width: 540px) {
    .form-inner input {
        width: 47.3684210526%;
    }
}
.form-inner input,
.form-inner textarea {
    background-color: #245963;
    border: 1px solid #76b2be;
    border-radius: 1px;
    outline: none;
    margin-bottom: 30px;
    color: #76b2be;
}
.form-inner input::placeholder,
.form-inner textarea::placeholder {
    color: #76b2be;
}
.form-inner textarea {
    padding: 13px 10px 0 17px;
    resize: none;
}
.form-inner button {
    position: relative;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.ic-mail {
    width: 99px;
    height: 99px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.ic-mail {
    background: #fff url(../../assets/ic-mail.png) center no-repeat;
}