.cards {
    margin-top: -80px;
}

.card-red {
    background-color: #e84c3d;
    padding: 59px 0 56px 0;
}

.card-yellow {
    background-color: #fdbd1f;
    padding: 59px 0 56px 0;
}

.card-cyan {
    background-color: #1bbc9b;
    padding: 59px 0 56px 0;
}

.card-violet {
    background-color: #9b58b5;
    padding: 59px 0 56px 0;
}

.card-darkBlue {
    background-color: #245963;
    padding: 59px 0 56px 0;
}

.ic-mail, .ic-user, .ic-crown, .ic-pencil, .ic-chat {
    width: 99px;
    height: 99px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.ic-chat {
    background: #fff url(../../assets/ic-chat.png) center no-repeat;
}

.ic-pencil {
    background: #fff url(../../assets/ic-pencil.png) center no-repeat;
}

.ic-crown {
    background: #fff url(../../assets/ic-crown.png) center no-repeat;
}

.ic-user {
    background: #fff url(../../assets/ic-user.png) center no-repeat;
}