.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid mediumvioletred;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
a {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid blue;
    font-size: 20px;
}

a:last-child {
    border-right: none;
}