.box-red {
  padding: 44px 0 65px 0;
}

@media screen and (min-width: 540px) {
  .box-red {
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .box-red {
    max-width: 31.6239316239%;
  }
}
.box-yellow {
  padding: 44px 0 65px 0;
}

@media screen and (min-width: 540px) {
  .box-yellow {
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .box-yellow {
    max-width: 31.6239316239%;
  }
}
.box-cyan {
  padding: 44px 0 65px 0;
}

@media screen and (min-width: 540px) {
  .box-cyan {
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .box-cyan {
    max-width: 31.6239316239%;
  }
}
.boxes img {
  border-radius: 50%;
}
.boxes p {
  color: #76b2be;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-transform: none;
  max-width: 80%;
  margin: 27px auto 33px auto;
}
.boxes a {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
}

.box-red {
  border-top: 7px solid #e84c3d;
  background-color: #245963;
}

.link-red {
  background-color: #e84c3d;
}
.link-red::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  left: 40%;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #e84c3d transparent transparent transparent;
}

.box-yellow {
  border-top: 7px solid #fdbd1f;
  background-color: #245963;
}

.link-yellow {
  background-color: #fdbd1f;
}
.link-yellow::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  left: 40%;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #fdbd1f transparent transparent transparent;
}

.box-cyan {
  border-top: 7px solid #1bbc9b;
  background-color: #245963;
}

.link-cyan {
  background-color: #1bbc9b;
}
.link-cyan::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  left: 40%;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #1bbc9b transparent transparent transparent;
}

.box-violet {
  border-top: 7px solid #9b58b5;
  background-color: #245963;
}

.link-violet {
  background-color: #9b58b5;
}
.link-violet::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -10px;
  left: 40%;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #9b58b5 transparent transparent transparent;
}

.box-darkBlue {
  border-top: 7px solid #245963;
  background-color: #245963;
}

.link-darkBlue {
    background-color: #245963;
}
.link-darkBlue::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -10px;
    left: 40%;
    border-style: solid;
    border-width: 10px 11px 0 11px;
    border-color: #245963 transparent transparent transparent;
}