.CountryName {
    font-size: 19px;
    text-decoration: underline;
    margin: 10px 0;
    padding: 10px 0;
    cursor: pointer;
}

.CountryName:hover {
    background:#7893AB;
    color:#fff;
}
.CountryName:active {
    background:#447BAB;
    color:#fff;
}