
.footer {
    background-color: #245963;
    padding: 39px 0 23px;
}

.footer-top {
    display: block;
    max-width: 370px;
    margin: 0 auto;
    align-items: center;
    font-size: 15px;
}
@media screen and (min-width: 540px) {
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.line {
    display: block;
    border-top: 1px solid #387d89;
    max-width: 283px;
    margin: 25px auto 34px;
}

.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 3px;
}

.ic-fb {
  background: #fff url(../../assets/ic-fb.png) center no-repeat;
  color: #245963;
  border-radius: 50%;
}

.ic-tw {
  background: #fff url(../../assets/ic-tw.png) center no-repeat;
  color: #245963;
  border-radius: 50%;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom .designed {
    color: #fdbd1f;
}
